* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Calibri Light, Roboto, sans-serif;
    font-size: 16px;

    padding: 0;

    color: #455a64;
    background: #eceff1;
}

.title {
    font-size: .8rem;

    padding: 1rem 0;

    text-align: center;
}

.card {
    font-size: .9em;

    position: relative;

    margin: .5rem 1rem 1rem;
    padding: 1rem;

    border-radius: .3rem;
    background: #fff;
    box-shadow: 0 .8rem 3rem #cfd8dc;
}

.card:before {
    position: absolute;
    z-index: -1;
    top: -1.2rem;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';
    transform: scale(.9);

    opacity: .45;
    border-radius: .3rem;
    background: #fff;
    box-shadow: 0 .8rem 3rem #cfd8dc;

    filter: blur(.6px);
}

.card__completed {
    text-align: right;
}

.card__group {
    padding: 1.5rem 0 1.6rem;
}

.card__badge {
    font-size: .7rem;

    display: inline-block;

    padding: .2rem .4rem;

    color: rgba(255, 255, 255, .8);
    border-radius: .3rem;
}

.card__badge.-purple {
    background: #5e35b1;
}

.card__badge.-green {
    background: #2e7d32;
}

.card__label {
    font-size: .7rem;
    font-weight: 500;

    text-transform: uppercase;

    color: rgba(69, 90, 100, .6);
}

.card__row {
    display: flex;

    margin-top: 1rem;
}

.card__col {
    text-align: center;

    color: #455a64;

    flex-grow: 1;
}

.card__col-icon {
    display: inline-block;

    width: 38px;
    height: 38px;

    background-position: 50% 50%;
}

.card__col-icon.pull_ups {
    background-image: url(/assets/pull_ups.svg);
}

.card__col-icon.push_ups {
    background-image: url(/assets/push_ups.svg);
}

.card__col-icon.squats {
    background-image: url(/assets/squats.svg);
}

.card__col-label {
    font-size: 1rem;

    margin-top: .5rem;
}

.card__hero {
    font-size: 3rem;

    margin-top: 1.8rem;

    text-align: center;
}

.card__text {
    margin: 1em 0 0 0;
    padding: 0;
}

.button-group {
    display: flex;

    margin: 2rem 1rem 1rem;
}


.button-wrapper {
    margin: 2rem 1rem 1rem;
}

.button-group .button-wrapper {
    margin: 0;

    flex-grow: 1;
}

.button-group .button-wrapper + .button-wrapper {
    margin-left: 1em;
}

.button {
    font-size: .8rem;

    display: block;

    width: 100%;
    padding: 1rem;

    color: #fff;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 .8rem 3rem #cfd8dc;
}

.button.-green {
    background: #2e7d32;
}

.button.-red {
    background: #d32f2f;
}

.button:active {
    opacity: .9;
}

.button:focus {
    outline: none;
}
